@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ranking de hinchadas de futbol</h1>
    <p>Acá podras votar la que te parece la mejor afición de los mejores equipos del mundo!</p>
    <img style="width: 800px; height: 500px" src= "./Content/Images/aficion4.jpg" alt="Alternate Text" />
</div>
